* {
  box-sizing: border-box;
  font-family: Tahoma;
}

html {
  height: auto;
  width: 80%;
}

body {
  background-image: url(img/cartographerb.png);
}

#sitio {
  width: 1000px;
  margin: 30px auto;
}

#contenedor {
  display: inline-block;
  position: relative;

  background-color: rgba(167,163,126,0.5);
  border: 0.5px solid rgba(136,0,77,1);
	border-radius: 20px 20px 0 0;
}

#barraLateral {
  display: inline-block;
  position: absolute;
	float: right;
  margin: 20px;
  height: 700px;
  overflow: auto;
}

#encabezado {
	height: 65px;
	width: 800px;
	background-color: rgba(117,143,194,0.9);
	border-radius: 20px 20px 0 0;
  margin-bottom: 5px;
}

#map {
  display: inline-block;
	height: 600px;
	width: 800px;
	margin-top: 5px;
}

#tips {
  text-align: center;
  color: #336798;
  padding: 20px;
  font-size: 15px;
}

table {
  border-radius: 20px 20px 0 0 ;
  border: 2px solid black;
}

.col {
  border-collapse: collapse;
  width: 33%;
  padding: 5px;
  animation: change-color 5s forwards;
}

.notbold {
  font-weight: normal;
}

th {
  padding: 10px;
}
